# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Catkin & CMake build files and directories.
build/
install/
devel/
CMakeFiles/
host/src/CMakeLists.txt

CMakeCache.txt
.catkin_workspace
Makefile
*.cmake

# Images
images/
*.jpg
*.avi

# Compile folders.
include/
bin/
*.bash
!takeCalibrationImages.bash

# 
cameraData*